<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ControlDashboard</a>
    <button class="navbar-toggler" @onclick="ToogleNavMenu">
        <span class="navbar-toggler-icon"/>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToogleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="javascript: void(0)" @onclick="()=>expandOrders = !expandOrders">
                <span class="oi oi-task" aria-hidden="true"></span>
                Orders
            </NavLink>
            @if (expandOrders)
            {
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="123">
                            <span class="oi oi-eye" aria-hidden="true"></span>
                            See all
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="123">
                            <span class="oi oi-fire" aria-hidden="true"></span>
                            Pending
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="123">
                            <span class="oi oi-paperclip" aria-hidden="true"></span>
                            Resolved
                        </NavLink>
                    </li>
            }
        </li>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="javascript: void(0)" @onclick="()=>expandProducts = !expandProducts">
                <span class="oi oi-box" aria-hidden="true"></span>
                Products
            </NavLink>
            @if (expandProducts)
            {
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="addproduct">
                            <span class="oi oi-plus" aria-hidden="true"></span>
                            Add
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="viewproducts">
                            <span class="oi oi-clipboard" aria-hidden="true"></span>
                            View
                        </NavLink>
                    </li>
            }
        </li>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="templates">
                <span class="oi oi-list-rich" aria-hidden="true"></span>
                Templates
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool expandProducts = false;
    private bool expandOrders = false;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private void ToogleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
